@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

body {
  font-size: 0.8125rem;
  /* 13px*/
  background-color: var(--Grey-200);
  overflow-x: hidden;
  margin: 0;
}

:root {
  --white-bg: #FFFFFF;
  --Grey-900: #48556A;
  --Grey-500: #6E8098;
  --Grey-400: #9DAEC2;
  --Grey-200: #ECF2F8;

  --font-body: "Manrope", sans-serif;

  /* 작성 규칙: font-weight | font-size/line-height | font-family */
  --Text-Preset-1: 900 1.25rem/1.3 var(--font-body);
  /* 20px 0.25px letter spacing */
  --Text-Preset-2m: 500 0.8125rem/1.4 var(--font-body);
  /* 13px 0.12% letter spacing */
  --Text-Preset-2b: 900 0.8125rem/1.4 var(--font-body);
  /* 13px 0.12% letter spacing*/
  --Text-Preset-3: 400 0.8125rem/1.4 var(--font-body);
  /* 13px 25% letter spacing*/

}

.el_hidden {
  display: none !important;
}

.continer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 16px;
}

.preview-card {
  width: 100%;
  max-width: 20.4375rem;
  /*327px*/
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* 이미지가 화면 밖을 벗어나지 못하도록 하기 위함 */
  overflow: hidden;
  background-color: var(--white-bg);
  /* 모바일에서 preview-card__share-pop absolute의 기준*/
  position: relative;
}

.preview-card__image {
  width: 100%;
  aspect-ratio: 660 / 528;
  object-fit: cover;
}

.preview-card__content {
  padding: 32px 30px 18px 30px;
}

.preview-card__title {
  font: var(--Text-Preset-1);
  color: var(--Grey-900);
}

.preview-card__tip {
  margin-block-start: 14px;

  font: var(--Text-Preset-2m);
  color: var(--Grey-900);
}

.preview-card__author {
  margin-block-start: 48px;
  margin-block-end: 18px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.preview-card__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preview-card__wrap {
  margin-inline-start: 16px;
}

.preview-card__nickname {
  display: block;
  font: var(--Text-Preset-2b);
  color: var(--Grey-900);
}

.preview-card__date {
  font: var(--Text-Preset-2m);
  color: var(--Grey-400);
}

.preview-card__group {
  margin-left: auto;
}

.preview-card__share-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: var(--Grey-200);
  z-index: 1;
  transition: background-color 0.3s ease;
}

.preview-card__share-pop {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 76px;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  background-color: var(--Grey-900);
}

.preview-card__label {
  font: var(--Text-Preset-3);
  color: var(--Grey-400);
}

.preview-card__icon {
  margin-inline-start: 24px;
}

.preview-card__icon a:not(:first-child) {
  margin-inline-start: 16px;
}

.preview-card__share-btn path {
  transition: fill 0.3s ease;
}

.preview-card__share-btn--active {
  background-color: var(--Grey-500);
}

.preview-card__share-btn--active path {
  fill: var(--white-bg);
}

@media(min-width: 768px) {
  .preview-card {
    max-width: 608px;
    display: grid;
    grid-template-columns: 229px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "image content"
      "image content"
      "image author"
    ;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.08);
    overflow: visible;
  }

  .preview-card__image {
    border-radius: 10px 0 0 10px;
    grid-area: image;
    height: 100%;
  }

  .preview-card__content {
    grid-area: content;
    margin: 0;
  }

  .preview-card__author {
    align-self: center;
    grid-area: author;
    margin: 0;
  }

  .preview-card__group {
    position: relative;
  }

  .preview-card__tip {
    letter-spacing: 0.12%;
    line-height: 1.4;
  }

  .preview-card__share-pop {
    top: auto;
    bottom: 44px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 248px;
    height: auto;
    padding: 16px 24px;
    border-radius: 10px;
  }

  .preview-card__share-pop::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: var(--Grey-900);
  }
}

@media(min-width: 1024px) {
  .preview-card {
    max-width: 730px;
  }

  .preview-card__share-pop {
    width: max-content;
  }
}